#title {
	text-align: center;
    background-color: grey;
    color: beige;
}

#title h1 {
    font-size: 50px;
    color: white;
    transition: color 0.5s ease;
}

#title h1:hover {
    color: red;
}

iframe {
    display: none;
    align-content: center;
}
